USE [master]
GO
/****** Object:  Database [ALMACEN]    Script Date: 4/6/2020 6:02:21 PM ******/
CREATE DATABASE [ALMACEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ALMACEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ALMACEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ALMACEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ALMACEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ALMACEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ALMACEN]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 4/6/2020 6:02:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[nombre_c] [varchar](30) NOT NULL,
	[apellido_c] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[nombre_c] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 4/6/2020 6:02:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[id_e] [int] IDENTITY(1,1) NOT NULL,
	[nombre_e] [varchar](30) NULL,
	[cargo_e] [varchar](30) NULL,
	[edad_e] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_e] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 4/6/2020 6:02:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id_p] [int] IDENTITY(1,1) NOT NULL,
	[nombre_p] [varchar](50) NULL,
	[cantidad_p] [int] NULL,
	[precio] [int] NULL,
	[fechaDeEntrada] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_p] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 4/6/2020 6:02:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[id_v] [int] IDENTITY(1,1) NOT NULL,
	[nombreCliente_v] [varchar](30) NULL,
	[idProducto_v] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_v] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([idProducto_v])
REFERENCES [dbo].[productos] ([id_p])
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([nombreCliente_v])
REFERENCES [dbo].[clientes] ([nombre_c])
GO
USE [master]
GO
